 body {
	background-color:gray;
	background-size=cover;
}

.container{
	margin-left:300px;
	margin-top:100px;
	width:400px;
	height:510px;
	padding:50px;
	
	border-radius:5px;
	background-color:silver;
	color: white;
}
input {
	width:388px;
	height:40px;
	border-radius:8px;
	border-width: 7px;
	border-color: teal;
	text-shadow: green;
	font-size: 18px;
	color: green;
	font-weight: 400;
	padding:10px;
	margin:10px;
}
#submit{
	background-color: teal;
	opacity:0.6;
	width:280px;
	height:80px;
	padding:10px;
	margin:10px;
	border-radius:5px;
	border-width:5px;
	border-color:teal;
	font-weight: 300;
	font-size:20px;
	font-family:elevation;
	
	
}